<h2>Commits</h2>
<% @commits.each do |commit| %>
  <%= commit.author %>: "<%= commit.message %>" at <strong><%= commit.repository %></strong> <br>
<% end %>

<h2>Pull requests</h2>
<% @pull_requests.each do |pull_request| %>
  <%= pull_request.author %>: <br>
  <%= pull_request.title %> <br>
  <%= pull_request.body %> <br>
  Merged at: <%= pull_request.merged_at %> <br>
  at <strong><%= pull_request.repo %></strong> <br>

  <pre>
    <% @comments.select { |x| x.number == pull_request.number && x.repo == pull_request.repo && x.organization == pull_request.organization }.each do |comment| %>
      <%= comment.date %> > <%= comment.body %> <br>
      by <%= comment.author %>
    <% end %>
  </pre>

  <hr>
<% end %>

<h2>Issues</h2>
<% @issues.each do |issue| %>
  <%= issue.author %>: <br>
  <%= issue.title %> <br>
  <%= issue.body %> <br>
  Closed at: <%= issue.closed_at %> <br>
  at <strong><%= issue.repo %></strong> <br>

  <pre>
    <% @comments.select { |x| x.number == issue.number && x.repo == issue.repo && x.organization == issue.organization }.each do |comment| %>
      <%= comment.date %> > <%= comment.body %> <br>
      by <%= comment.author %>
    <% end %>
  </pre>
  
  <hr>
<% end %>
